{% load staticfiles %}
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Онлайн тесты</title>
  <style>
    .content {
      display: table;
      height: 100%;
    }

    .welcome {
      font-size: 50px;
      color: white;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }
  </style>
</head>

<body style="background-color: #83f03c">
  <div class="content">
	<a href="/logout">Выйти</a>
    <h1 class="welcome">Добро пожаловать на платформу для онлайн тестирования!</h1>
  </div>
</body>

</html>
